In [52]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense

In [53]:
temperature = [20, 22, 25, 23, 26, 24, 22, 20, 25, 23]
rainfall = [100, 105, 90, 95, 100, 95, 105, 100, 110, 105]
humidity = [70, 75, 65, 68, 72, 70, 75, 70, 72, 75]
soil_type = [1, 2, 3, 1, 2, 3, 1, 2, 3, 1]
yields = [50, 52, 45, 49, 53, 47, 51, 50, 48, 52]

In [54]:
data = list(zip(temperature, rainfall, humidity, soil_type, yields))

In [55]:
crop_data = pd.DataFrame(data, columns=['temperature', 'rainfall', 'humidity', 'soil_type', 'yield'])

In [56]:
crop_data

   temperature  rainfall  humidity  soil_type  yield
0           20       100        70          1     50
1           22       105        75          2     52
2           25        90        65          3     45
3           23        95        68          1     49
4           26       100        72          2     53
5           24        95        70          3     47
6           22       105        75          1     51
7           20       100        70          2     50
8           25       110        72          3     48
9           23       105        75          1     52

In [57]:
X = crop_data[['temperature', 'rainfall', 'humidity', 'soil_type']]
y = crop_data['yield']

In [58]:
train_X = X[:-2]
train_y = y[:-2]

In [59]:
test_X = X[-2:]
test_y = y[-2:]

In [60]:
train_X
train_y
test_X
test_y

8    48
9    52
Name: yield, dtype: int64

In [61]:
model = Sequential([
    Dense(units=128, input_dim=4, activation='relu', name='layer_1'),
    Dense(units=64, activation='relu', name='layer_2'),
    Dense(units=16, activation='relu', name='layer_3'),
    Dense(units=1, activation='linear', name='layer_4')
])

In [62]:
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['accuracy'])

In [69]:
test_loss, test_accuracy = model.evaluate(test_X, test_y)
print('Test loss: {0:.2f}. Test accuracy: {1:.2f}%'.format(test_loss, test_accuracy*100))

1/1 [==============================] - 0s 24ms/step - loss: 2707.7129 - accuracy: 0.0000e+00
Test loss: 2707.71. Test accuracy: 0.00%

In [64]:
this_year_yield = model.predict(np.array(X.iloc[-2]).reshape(1, -1))
next_year_yield = model.predict(np.array(X.iloc[-1]).reshape(1, -1))

1/1 [==============================] - 0s 56ms/step
1/1 [==============================] - 0s 23ms/step

In [68]:

print("This year's yield:", this_year_yield[0][0])
print("Next year's yield:", next_year_yield[0][0])

This year's yield: -2.0130124
Next year's yield: -1.9826338